@include breakpoint-down($max-xs) {
    /*===========Media max-width: 576px=========== */
    .container {@include container(540px);}
    // =============================================
    // HEADER=======================================
    
    // HEADER=====================================//
    // Main page queries============================
    // MEIN >* SECTIONS=============================
    // category
    .category__row {
        flex-direction: column;
    }
    .category__elements{
        width: 100%;
    }
    .category-mb-tel{
        margin-bottom: 20px;
    }
    // MEIN >* SECTIONS===========================//


    // Main page queries==========================//
    





    // FOOTER=======================================

    // FOOTER=====================================//
}