/* GENERAL */
@charset 'utf-8';

html {
  // height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {box-sizing: inherit;}

body {
  @include padding(0);
  @include margin(0);
  @include flex-column;
  height: 100%;
  overflow-x: hidden;
  font-family: $font-Jost;
  background-color: $color-white-fff;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {@include text-reset;}

button {cursor: pointer;}

ul, 
ol {@include list-reset;}

::-webkit-scrollbar{background:0 0;border:0 none $color-light-grey-aaaaaa;border-radius:50px;width:5px;height:7px}
::-webkit-scrollbar-thumb{background: $color-light-grey-aaaaaa; border:0 none #fff;border-radius:0}
