// COLORS
$color-white-fff: #fff;
$color-black-000: #000;
$color-light-grey-aaaaaa: #aaaaaa;



// FONTS========================
$font-Jost: 'Jost';
$font-orbitron: 'Orbitron';
// FONTS======================//
// Media========================
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;
$max-xxl: 1400px;

