// COLORS
$color-white-fff: #fff;
$color-black-000: #000;
$color-222: #222;
$color-light-grey-aaaaaa: #aaaaaa;
$color-333: #333;
$color-eee: #eee;
$color-e6e6e6: #e6e6e6;
$color-888: #888;
$color-b3a36f: #b3a36f;

// FONTS========================
$font-Jost: 'Jost';
$font-orbitron: 'Orbitron';
// FONTS======================//
// Media========================
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;
$max-xxl: 1400px;

